.image-gallery {
    display: flex;
    flex-wrap: wrap;
}

.image-gallery > .image-wrapper {
    width: 100%;
}

.image-gallery > .image-wrapper > img{
    width: 100%;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .image-gallery > .image-wrapper {
        width: 33%;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .image-gallery > .image-wrapper {
        width: 25%;
    }
 }