.image-gallery {
    display: flex;
    flex-wrap: wrap;
}

.image-gallery > .image-wrapper {
    width: 100%;
}

@media (min-width: 980px) { 
    .image-gallery > .image-wrapper > .image-controls {
        display: flex;
        align-items: center;
    }
 }

.image-gallery > .image-wrapper > img {
    width: 100%;
}


@media (min-width: 480px) { 
    .image-gallery > .image-wrapper {
        width: 48%;
        margin: 0 1%;
    }
 }
@media (min-width: 768px) { 
    .image-gallery > .image-wrapper {
        width: 31%;
        margin: 0 1%;
    }
 }

@media (min-width: 1200px) { 
    .image-gallery > .image-wrapper {
        width: 23%;
        margin: 0 1%;
    }
 }

.image-gallery > .gallery-cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 18px;
}